@charset "UTF-8";
/* IMPORTS */
@font-face {
  font-family: "Tommy";
  src: url("./fonts/MADE TOMMY Regular_PERSONAL USE.otf");
}
@font-face {
  font-family: "SilkyQueen";
  src: url(./fonts/Silky\ Queen.otf);
}
/* VARIABLES */ /* Estilos generales para la pagina */
body {
  background: lightsalmon;
  border: 15px darkblue double;
  margin-top: 2%;
  margin-right: 15%;
  margin-bottom: 2%;
  margin-left: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
  font-family: "Tommy";
}
body h1 {
  text-transform: uppercase;
  font-size: 55.25% vw;
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline double 3px darkblue;
  margin-top: 0;
}
body h3 {
  font-family: "SilkyQueen";
}
body nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
body nav ul li a {
  font-family: "SilkyQueen";
  padding: 5px;
  transition: background-color 0.5s;
  transition: color 0.6s;
}
body nav ul li a:hover {
  background-color: darkblue;
  color: rgb(180, 218, 123);
  cursor: pointer;
}
body nav ul li a:visited {
  background-color: darkred;
  text-decoration: underline double darkred;
}
body button:hover {
  color: greenyellow;
  cursor: pointer;
}
body footer {
  border-top: darkblue 2px solid;
  grid-column: 1/-1;
  padding: 20px;
  background-color: coral;
}
body footer img {
  transform: translateY(4px);
  width: 2%;
  height: 2%;
}
body footer p {
  font-size: 1.5em;
  font-weight: normal;
}

button {
  padding: 10px;
  background-color: darkred;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

button[type=button] {
  margin-top: 10px;
}

section:last-child {
  text-align: center;
}

header {
  height: 250px;
  grid-column: 1/-1;
  padding: 20px;
  background-color: coral;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  border-bottom: darkblue 3px solid;
}
header img {
  width: 20%;
  height: 60%;
  transform: rotate(-10deg);
}
header nav {
  grid-column: 1/-1;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
header nav ul li {
  font-family: "Tommy";
  list-style: none;
  font-size: 120%;
  text-transform: uppercase;
  display: inline;
  margin-right: 10px;
  margin: 2%;
}
header nav ul li:visited {
  list-style: none;
}
header nav ul li a {
  color: darkblue;
  text-decoration: underline double darkblue 2px;
  padding: 5px;
}
header nav ul li a:visited {
  color: darkred;
  text-decoration: 2px underline double darkred;
}
header nav ul li a:hover {
  background-color: darkblue;
  color: rgb(180, 218, 123);
  cursor: pointer;
}
header nav ul li a:hover:visited {
  background-color: darkred;
}

/*estilos para index*/
.index {
  grid-column: span 3;
  grid-row: span 4;
  margin-top: 0%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-left: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  border: solid 4px darkblue;
  background-color: coral;
}
.index img {
  width: 45%;
  height: 25%;
}
.index figure {
  transform: translate(-30px);
  margin-left: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
.index figure video {
  height: 300px;
  width: 500px;
}
.index figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin-top: 3%;
  margin-bottom: 10%;
  text-align: center;
  color: darkgreen;
  font-weight: 800;
  border: double darkgreen;
  padding: 1%;
}
.index h2 {
  font-family: "Tommy";
  font-size: 47.5% vw;
  color: darkred;
}
.index .maps {
  text-decoration: underline double darkred;
  transform: translate(-55px, -55px);
  margin-bottom: 5%;
  margin-left: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ofertas {
  padding-top: 0%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border: dashed 3px darkgreen;
  width: 40%;
  margin: 5%;
}
#ofertas h2 {
  width: 115%;
  font-family: "Tommy";
  font-size: 50% vw;
  color: darkgreen;
  text-transform: uppercase;
}
#ofertas p {
  font-size: 50% vw;
  color: darkgreen;
  font-weight: 1000;
}

/* Estilos para servicios*/
.body_servicios {
  border: 15px double darkblue;
  margin-top: 2%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
}

.servicios {
  grid-column: span 3;
  grid-row: span 4;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 17%;
  padding: 40px;
  border: 2px darkred solid;
}
.servicios::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/Papas\ fritas\ backround.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  /* Ajusta el valor de opacidad según tus necesidades */
  z-index: -1;
}
.servicios h2 {
  font-family: "Tommy";
  font-size: 34% vw;
  color: darkgreen;
  margin-top: 0;
  text-decoration: underline solid 3px darkgreen;
}
.servicios h3 {
  font-family: "SilkyQueen";
  font-size: 29.75% vw;
  color: darkred;
}
.servicios section {
  margin-bottom: 20px;
}
.servicios ul {
  padding: 0;
  margin: 0;
}
.servicios li {
  border: dotted 3px darkred;
  list-style: none;
  margin-bottom: 20px;
}
.servicios img {
  max-width: 100%;
  height: auto;
}
.servicios form {
  margin-top: 10px;
  padding-bottom: 20px;
}
.servicios form label {
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 5%;
  display: block;
}
.servicios form input[type=number] {
  width: 100px;
}
.servicios form button[type=button] {
  margin-top: 10px;
}
.servicios .papas {
  padding-top: 20px;
}

/* Estilos para portafolio*/
.portafolio {
  background-color: coral;
  grid-column: span 3;
  grid-row: span 4;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 3px dashed darkred;
}
.portafolio section {
  margin-bottom: 20px;
}
.portafolio h2 {
  font-family: "Tommy";
  font-size: 34% vw;
  margin-top: 0;
  color: darkgreen;
  text-decoration: underline 2px double darkgreen;
  text-align: start;
}
.portafolio ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.portafolio ul li {
  list-style: none;
  margin-bottom: 20px;
}
.portafolio img {
  width: 25%;
  height: 25%;
  max-width: 100%;
  height: auto;
}
.portafolio article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.portafolio figure {
  position: relative;
}
.portafolio figcaption {
  position: relativ;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 68%;
  margin-top: 4px;
  border: 3px dashed darkred;
  font-size: 17% vw;
  color: darkred;
  transition: background-color 0.5s;
}
.portafolio figcaption:hover {
  background-color: darkred;
  color: #fff;
  cursor: pointer;
}

/* Estilos para contacto */
.body_contacto {
  border: 15px darkblue double;
  margin-top: 2%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.9fr 1fr 1fr 0.5fr;
}

.contacto {
  grid-column: span 3;
  grid-row: span 4;
}
.contacto h2 {
  font-family: "Tommy";
  font-size: 29.75% vw;
  color: darkgreen;
}
.contacto section {
  background-color: rgba(144, 238, 172, 0.788);
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 5px double darkgreen;
}
.contacto section h2 {
  margin-top: 0;
}
.contacto section form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
.contacto section label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 2%;
  text-decoration: underline double black;
  transition: background-color 0.5s;
  transition: color 0.5s;
}
.contacto section label:hover {
  background-color: #333;
  color: greenyellow;
  text-decoration: none;
  text-transform: uppercase;
}
.contacto section input,
.contacto section textarea {
  width: 75%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}
.contacto section textarea {
  border: 1px solid black;
  resize: vertical;
}
.contacto section button[type=submit] {
  padding: 10px 20px;
  background-color: darkgreen;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: color 0.5s;
}
.contacto section button[type=submit]:hover {
  color: greenyellow;
  cursor: pointer;
}

#reclamos {
  border: double 5px darkred;
  text-align: center;
  background-color: rgb(245, 154, 126);
}
#reclamos button[type=submit] {
  padding: 10px 20px;
  background-color: darkred;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: color 0.5s;
}
#reclamos button[type=submit]:hover {
  color: greenyellow;
  cursor: pointer;
}
#reclamos h2 {
  color: darkred;
}

/* Estilos para blog */
.blog {
  background-color: coral;
  grid-column: span 3;
  grid-row: span 4;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 4px solid royalblue;
}
.blog h1 {
  display: flex;
  justify-content: flex-start;
  text-decoration: underline double 3px darkblue;
}
.blog h3 {
  margin-left: 2.5%;
  text-decoration: underline double 2px darkred;
  font-family: "SilkyQueen";
  font-size: 29.75% vw;
  color: darkred;
}
.blog h4 {
  font-size: 25.5% vw;
  color: rgb(13, 114, 13);
}
.blog section {
  margin-bottom: 20px;
}
.blog section h2 {
  font-family: "Tommy";
  font-size: 34% vw;
  color: darkgreen;
  margin-top: 0;
  text-decoration: underline double 2px darkgreen;
}
.blog section ul {
  list-style-type: none;
  padding: 0;
}
.blog section ul li {
  font-size: 21.25% vw;
  border: 3px dotted darkred;
  margin: 2%;
}
.blog section div {
  text-align: center;
  margin-top: 20px;
}
.blog section p {
  font-size: 17% vw;
  margin: 2.5%;
  font-weight: 800;
}
.blog #papas li {
  color: darkred;
  border: none;
  text-decoration: underline solid darkred 2px;
}
.blog #papas img {
  width: 15%;
  height: 15%;
}
.blog section:last-child {
  text-align: center;
}

@media (max-width: 576px) {
  /* Estilos para dispositivos móviles */
  .body_servicios {
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    border: none;
    grid-template-columns: 1fr;
  }
  .body_contacto {
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    border: none;
    grid-template-columns: 1fr;
  }
  body {
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    border: none;
    grid-template-columns: 1fr;
    /* Cambia a una sola columna en dispositivos móviles */
  }
  body header {
    padding-bottom: 20px;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    border: darkblue 3px solid;
  }
  body header img {
    width: 50%;
    height: auto;
  }
  body .index {
    border: darkblue 3px solid;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 2%;
    margin-left: 0%;
  }
  body .index img {
    width: 70%;
    margin-right: 5%;
  }
  body .index section h2 {
    font-size: 20px;
  }
  body .index video {
    margin-left: 5%;
    width: 80%;
    height: 100%;
  }
  body .index figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body .index figcaption {
    margin-left: 10%;
    width: 400px;
  }
  body .index .maps iframe {
    width: 350px;
    height: 50%;
    margin-left: 5%;
    margin-bottom: 10%;
  }
  body #ofertas {
    width: 400px;
  }
  body #ofertas h2 {
    font-size: 30px;
  }
  body #ofertas p {
    font-size: 25px;
  }
  body .servicios {
    border: darkblue 3px solid;
    margin-top: 2%;
    margin-right: 0%;
    margin-bottom: 2%;
    margin-left: 10%;
    text-align: center;
  }
  body .servicios form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body .servicios h2 {
    font-size: 20px;
  }
  body .servicios h3 {
    font-size: 18px;
  }
  body .servicios p {
    font-size: 14px;
  }
  body .portafolio {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 3px dashed royalblue;
  }
  body .portafolio h2 {
    font-size: 20px;
  }
  body .portafolio img {
    width: 70%;
    height: auto;
  }
  body .portafolio figure {
    margin-right: 2%;
    text-align: center;
  }
  body .portafolio figure figcaption {
    font-size: 14px;
    width: 83%;
  }
  body .portafolio article {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
  }
  body .portafolio article button {
    margin-left: 35%;
  }
  body .blog h2 {
    font-size: 20px;
  }
  body .blog h3 {
    font-size: 18px;
  }
  body .blog h4 {
    font-size: 16px;
  }
  body .blog p {
    font-size: 14px;
  }
  body .blog li {
    font-size: 16px;
  }
  body .blog img {
    width: 30%;
    height: auto;
  }
  body .blog #papas li {
    font-size: 16px;
  }
  body .blog #papas img {
    width: 40%;
    height: auto;
  }
  body footer {
    border: darkblue 3px solid;
  }
  body footer img {
    transform: translateY(5px);
    width: 6%;
    height: 10%;
  }
  body li {
    font-size: 16px;
  }
  body h1 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
