@charset "UTF-8";
/* IMPORTS */
@font-face {
  font-family: "Tommy";
  src: url("./fonts/MADE TOMMY Regular_PERSONAL USE.otf");
}
@font-face {
  font-family: "SilkyQueen";
  src: url(./fonts/Silky\ Queen.otf);
}
/* VARIABLES */ /* Estilos generales para la pagina */
body {
  background: linear-gradient(salmon, rgb(241, 141, 141));
  border: 15px darkred double;
  margin-top: 2%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
}

h1 {
  text-transform: uppercase;
  font-size: 55.25% vw;
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline double 3px darkblue;
  margin-top: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
nav ul li a {
  padding: 5px;
  transition: background-color 0.5s;
  transition: color 0.6s;
}
nav ul li a:hover {
  background-color: darkblue;
  color: rgb(180, 218, 123);
  cursor: pointer;
}
nav ul li a:visited {
  background-color: darkred;
  text-decoration: underline double darkred;
}

button:hover {
  color: greenyellow;
  cursor: pointer;
}

footer {
  grid-column: 1/-1;
  padding: 20px;
  background-color: salmon;
}
footer img {
  transform: translateY(4px);
  width: 2%;
  height: 2%;
}
footer p {
  font-size: 1.5em;
}

section:last-child {
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type=button] {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

header {
  height: 250px;
  grid-column: 1/-1;
  padding: 20px;
  background-color: salmon;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}
header img {
  width: 20%;
  height: 60%;
  transform: rotate(-10deg);
}
header nav {
  grid-column: 1/-1;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
header nav ul li {
  font-family: "Tommy";
  list-style: none;
  font-size: 120%;
  text-transform: uppercase;
  display: inline;
  margin-right: 10px;
  margin: 2%;
}
header nav ul li:visited {
  list-style: none;
}
header nav ul li a {
  color: darkblue;
  text-decoration: underline double darkblue 2px;
  padding: 5px;
}
header nav ul li a:visited {
  color: darkred;
  text-decoration: 2px underline double darkred;
}
header nav ul li a:hover {
  background-color: darkblue;
  color: rgb(180, 218, 123);
  cursor: pointer;
}
header nav ul li a:hover:visited {
  background-color: darkred;
}

/*estilos para index*/
.index {
  grid-column: span 3;
  grid-row: span 4;
  margin-top: 2%;
  margin-right: 20%;
  margin-bottom: 2%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  border: solid 4px royalblue;
  background-color: lightsalmon;
}
.index img {
  width: 45%;
  height: 25%;
}
.index figure {
  transform: translate(-30px);
  margin-left: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
.index h2 {
  font-family: "Tommy";
  font-size: 47.5% vw;
  color: darkred;
}
.index .maps {
  transform: translate(-55px, -55px);
  margin-bottom: 5%;
  margin-left: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ofertas {
  width: 40%;
  margin: 5%;
  margin-bottom: 20px;
}
#ofertas h2 {
  font-family: "Tommy";
  font-size: 50% vw;
  color: darkgreen;
}
#ofertas p {
  font-size: 50% vw;
  color: darkgreen;
  text-transform: uppercase;
}

/* Estilos para servicios*/
.body_servicios {
  border: 15px double darkred;
  margin-top: 2%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-left: 10%;
  background-color: burlywood;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
}

.servicios {
  grid-column: span 3;
  grid-row: span 4;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 17%;
  padding: 20px;
  border: 4px darkred solid;
}
.servicios::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../img/Papas\ fritas\ backround.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  /* Ajusta el valor de opacidad según tus necesidades */
  z-index: -1;
}
.servicios h2 {
  font-family: "Tommy";
  font-size: 34% vw;
  color: rgb(9, 226, 38);
  margin-top: 0;
}
.servicios h3 {
  font-family: "SilkyQueen";
  font-size: 29.75% vw;
  color: darkred;
}
.servicios section {
  margin-bottom: 20px;
}
.servicios ul {
  padding: 0;
  margin: 0;
}
.servicios li {
  list-style: none;
  margin-bottom: 20px;
}
.servicios img {
  max-width: 100%;
  height: auto;
}
.servicios form {
  margin-top: 10px;
}
.servicios form label {
  display: block;
}
.servicios form input[type=number] {
  width: 100px;
}
.servicios form button[type=button] {
  margin-top: 10px;
}
.servicios .papas {
  padding-top: 20px;
}

/* Estilos para portafolio*/
.portafolio {
  background-color: lightsalmon;
  grid-column: span 3;
  grid-row: span 4;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 3px dashed darkred;
}
.portafolio section {
  margin-bottom: 20px;
}
.portafolio h2 {
  font-family: "Tommy";
  font-size: 34% vw;
  margin-top: 0;
  color: darkgreen;
  text-decoration: underline 2px double darkgreen;
  text-align: start;
}
.portafolio ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.portafolio ul li {
  list-style: none;
  margin-bottom: 20px;
}
.portafolio img {
  width: 25%;
  height: 25%;
  max-width: 100%;
  height: auto;
}
.portafolio article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.portafolio figure {
  position: relative;
}
.portafolio figcaption {
  position: relativ;
  bottom: 0;
  left: 0;
  padding: 5px;
  color: black;
  width: 68%;
  margin-top: 4px;
  border: 3px dashed darkred;
  font-size: 17% vw;
  color: darkred;
  transition: background-color 0.5s;
}
.portafolio figcaption:hover {
  background-color: darkred;
  color: #fff;
  cursor: pointer;
}

/* Estilos para contacto */
.body_contacto {
  border: 15px darkred double;
  margin-top: 2%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.9fr 1fr 1fr 0.5fr;
}

.contacto {
  grid-column: span 3;
  grid-row: span 4;
}
.contacto h2 {
  font-family: "Tommy";
  font-size: 29.75% vw;
  color: darkgreen;
}
.contacto section {
  background-color: rgba(144, 238, 172, 0.788);
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 5px double darkgreen;
}
.contacto section h2 {
  margin-top: 0;
}
.contacto section form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
.contacto section label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 2%;
  text-decoration: underline double black;
  transition: background-color 0.5s;
  transition: color 0.5s;
}
.contacto section label:hover {
  background-color: #333;
  color: greenyellow;
  text-decoration: none;
  text-transform: uppercase;
}
.contacto section input,
.contacto section textarea {
  width: 75%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}
.contacto section textarea {
  border: 1px solid black;
  resize: vertical;
}
.contacto section button[type=submit] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: color 0.5s;
}
.contacto section button[type=submit]:hover {
  color: greenyellow;
  cursor: pointer;
}

#reclamos {
  border: double 5px darkred;
  text-align: center;
  background-color: rgb(245, 154, 126);
}
#reclamos h2 {
  color: darkred;
}

/* Estilos para blog */
.blog {
  background-color: lightsalmon;
  grid-column: span 3;
  grid-row: span 4;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 4px solid royalblue;
}
.blog h1 {
  display: flex;
  justify-content: flex-start;
  text-decoration: underline double 3px darkblue;
}
.blog h2 {
  font-family: "Tommy";
  font-size: 34% vw;
  color: darkgreen;
  margin-top: 0;
  text-decoration: underline double 2px darkgreen;
}
.blog h3 {
  margin-left: 2.5%;
  text-decoration: underline double 2px darkred;
  font-family: "SilkyQueen";
  font-size: 29.75% vw;
  color: darkred;
}
.blog h4 {
  font-size: 25.5% vw;
  color: rgb(13, 114, 13);
}
.blog section {
  margin-bottom: 20px;
}
.blog div {
  margin-top: 20px;
}
.blog img {
  width: 10.5%;
  height: 10.5%;
  max-width: 100%;
  height: auto;
}
.blog p {
  font-size: 17% vw;
  margin: 2.5%;
}
.blog li {
  font-size: 21.25% vw;
  border: 3px dotted darkred;
  margin: 2%;
}
.blog ul {
  list-style-type: none;
  padding: 0;
}
.blog #papas li {
  color: darkred;
  border: none;
  text-decoration: underline solid darkred 2px;
}
.blog #papas img {
  width: 15%;
  height: 15%;
}

@media (max-width: 576px) {
  /* Estilos para dispositivos móviles */
  body {
    grid-template-columns: 1fr;
    /* Cambia a una sola columna en dispositivos móviles */
  }
  header a img {
    width: 50%;
    height: auto;
  }
  footer a img {
    width: 10%;
    height: auto;
  }
  li {
    font-size: 16px;
  }
  h1 {
    font-size: 25px;
  }
  #ofertas h2 {
    font-size: 20px;
  }
  #ofertas p {
    font-size: 15px;
  }
  .index section h2 {
    font-size: 20px;
  }
  .index iframe a {
    width: 100%;
    height: auto;
  }
  .blog h2 {
    font-size: 20px;
  }
  .blog h3 {
    font-size: 18px;
  }
  .blog h4 {
    font-size: 16px;
  }
  .blog p {
    font-size: 14px;
  }
  .blog li {
    font-size: 16px;
  }
  .blog img {
    width: 30%;
    height: auto;
  }
  .blog #papas li {
    font-size: 16px;
  }
  .blog #papas img {
    width: 40%;
    height: auto;
  }
  .servicios {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .servicios h2 {
    font-size: 20px;
  }
  .servicios h3 {
    font-size: 18px;
  }
  .servicios p {
    font-size: 14px;
  }
  .portafolio {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 3px dashed royalblue;
  }
  .portafolio h2 {
    font-size: 20px;
  }
  .portafolio img {
    width: 50%;
    height: auto;
  }
  .portafolio figcaption {
    font-size: 14px;
  }
  .portafolio article {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
