header {
    height: 250px;
    grid-column: 1 / -1;
    padding: 20px;
    background-color: $secondary-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    border-bottom: $primary-color 3px solid;
    

    img {
        width: 20%;
        height: 60%;
        transform: rotate(-10deg);
    }

    nav {
        grid-column: 1 / -1;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            
            li {
                
                font-family: "Tommy";
                list-style: none;
                font-size: 120%;
                text-transform: uppercase;
                display: inline;
                margin-right: 10px;
                margin: 2%;
                &:visited{
                    list-style: none;
                    
                }
    
                a {
                    color: $primary-color;
                    text-decoration: underline double $primary-color 2px;
                    padding: 5px;
                    
                    &:hover {
                        background-color: $primary-color;
                        color: rgb(180, 218, 123);
                        cursor: pointer;
                    }
                }
            }
    
    
        }
    }


}

