/* Estilos para blog */

.blog {
    background-color: $secondary-color;
    @include gridMain (); 
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid $primary-color;
    
    h1 {
        display: flex;
        justify-content: flex-start;
        text-decoration: underline double 3px $primary-color;
    }


    h3 {
        margin-left: 2.5%;
        text-decoration: underline double 2px map-get($map: $colores, $key:color-secundario );
        font-family: "SilkyQueen";
        font-size: 29.75%vw;
        color: map-get($map: $colores, $key:color-secundario );
    }

    h4 {
        font-size: 25.5%vw;
        color: map-get($map: $colores, $key:color-secundario );
    }

    section {

        margin-bottom: 20px;

        h2 {
            font-family: "Tommy";
            font-size: 34%vw;
            color: map-get($map: $colores, $key:color-secundario );
            margin-top: 0;
            text-decoration: underline double 2px map-get($map: $colores, $key:color-secundario );
        }
        
        ul {
            list-style-type: none;
            padding: 0;
            li {
                display: flex;
                font-size: 21.25%vw;
                border: 3px dotted map-get($map: $colores, $key:color-secundario );
                margin: 2%;
                p{
                    margin-top: 10%;
                }
            }
        
    
        }
    


        div {
            
            text-align: center  ;
            margin-top: 20px;
            
        }
        p {
            font-size: 17%vw;
            margin: 2.5%;
            font-weight: 800;
        }
    
    }
    #papas {
        display: flex;
        flex-direction: column;
        li {
            margin: 5%;
            margin-left: 30%;
            width: 500px;
            border: none;

        }

        img {
            align-self: center;
            width: 15%;
            height: 15%;
        }
        
    }
    section:last-child {
        align-items: center;
    }
    
}
