/*estilos para index*/

.body_index{
    grid: none;
    border: none;
    font-family: "Tommy";
    #video{
        width: 400px;
    }
    #ofertas{
        border: darkred dashed 3px ;
    }
    h2{
        color: darkred;
    }
    .maps{
        iframe{
            padding: 0px;
            margin-bottom: 22%;
            margin-left: 10%;
        }
    }
}
