/* Estilos para servicios*/
.body_servicios{
    border: 15px double $primary-color;
    margin-top: 2%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
}
.servicios {
    @include gridMain (); 
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 17%;
    padding: 40px;
    border: 2px map-get($map: $colores, $key:color-secundario ) solid;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../img/Papas\ fritas\ backround.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
        /* Ajusta el valor de opacidad según tus necesidades */
        z-index: -1;
    }

    h2 {
        font-family: "Tommy";
        font-size: 34%vw;
        color: map-get($map: $colores, $key:color-terciario );
        margin-top: 0;
        text-decoration: underline solid 3px map-get($map: $colores, $key:color-terciario ) ;
    }

    h3 {
        font-family: "SilkyQueen";
        font-size: 29.75%vw;
        color: map-get($map: $colores, $key:color-secundario );
    }

    section {
        margin-bottom: 20px;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        border: dotted 3px map-get($map: $colores, $key:color-secundario );
        list-style: none;
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    form {
        margin-top: 10px;
        padding-bottom: 20px;

        label {
            font-weight: 800;
            text-transform: uppercase;
            margin-top: 5%;
            display: block;
        }

        input[type="number"] {
            width: 100px;
        }

        button[type="button"] {
            margin-top: 10px;
        }
    }
    .papas {
        padding-top: 20px;
    }
}


