/* VARIABLES */
$colores:(
    color-secundario:darkred
);

@mixin gridMain{
    grid-column: span 3;
    grid-row: span 4;
}
@mixin center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
$primary-color:darkblue;
$secondary-color: burlywood;

